* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Hack, monospace;
    font-size: 10pt;
}

h1 {
    font-size: x-large;
    color: #222;
    margin-bottom: 8px;
    text-decoration: underline;
}

#app {
    display: flex;
    flex-direction: column;
}

#app > div {
    padding: 4px;
}

#main {
    display: grid;
    column-gap: 0;
    column-count: 2;
    grid-template-columns: auto auto;
}

#main span {
    align-self: center;
    display: block;
    padding: 2px 4px;
    position: relative;
    cursor: pointer;
}

#main span:nth-child(even) {
    cursor: pointer;
}

#main span:nth-child(odd) {
    color: #444;
    height: 20pt;
    border-bottom: 1px dashed #666;
}

#word {
    border: 1px solid #333;
    width: 100%;
    font-size: 120%;
    padding: 5px 4px;
    outline: none;
    background-color: #f0f0f0;
}

#word.match {
    background-color: #6dcf6d;
}

#description {
    background-color: #f0f0f0;
}

#extra {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#extra > div > div {
    margin-top: 12px;
}

label {
    font-weight: bold;
    margin: 6px 0 4px 0;
    display: inline-block;
}

input {
    padding: 4px;
    position: relative;
    outline: none;
    width: 100%;
}

.delete {
    cursor: pointer;
}

.tag-container {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 4px;
}

.tag-container .tag {
    height: 30px;
    margin: 4px;
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgb(216, 185, 107);
    display: flex;
    align-items: center;
    color: #333;
    cursor: default;
}

.tag .delete {
    margin-left: 4px;
}

.tag-container input {
    padding: 4px;
    border: 0;
    outline: none;
    color: #333;
    flex: 1;
}
